# Content Security Policy
# Header set Content-Security-Policy: "default-src 'none'; font-src 'https://fonts.googleapis.com'; img-src 'self' ; object-src 'none'; script-src 'unsafe-inline' 'unsafe-eval'; style-src 'self'"

# HTTP Strict Transport Security
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

# HTTP redirection to HTTPS
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.qawjdr.com/$1 [R,L]

# X-Content-Type-Options
# Prevent browsers from incorrectly detecting non-scripts as scripts
Header set X-Content-Type-Options: "nosniff"

# X-Frame-Options
Header set X-Frame-Options: "sameorigin"

# X-XSS-Protection
# Block pages from loading when they detect reflected XSS attacks
Header set X-XSS-Protection: "1; mode=block"